@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

blockquote{
	margin: 1em;
}

blockquote header p{
	text-align: center;
	text-indent: 0;
}

blockquote header p:first-child{
	font-variant: small-caps;
	font-style: normal;
}

blockquote.document,
[epub|type~="z3998:letter"]{
	font-style: italic;
}

blockquote.document i,
blockquote.document em,
[epub|type~="z3998:letter"] i,
[epub|type~="z3998:letter"] em{
	font-style: normal;
}

[epub|type~="z3998:letter"][epub|type~="z3998:speech"]{
	font-style: normal;
}

[epub|type~="z3998:letter"][epub|type~="z3998:speech"] i,
[epub|type~="z3998:letter"][epub|type~="z3998:speech"] em{
	font-style: italic;
}

.right-letter-fragment{
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	font-style: normal;
}

[epub|type~="z3998:letter"] footer{
	page-break-before: avoid;
	page-break-inside: avoid;
}

[epub|type~="z3998:letter"] footer [epub|type~="se:letter.dateline"]{
	margin-top: 1em;
}

[epub|type~="z3998:letter"] p.signature,
[epub|type~="z3998:letter"] p[epub|type~="z3998:valediction"],
[epub|type~="z3998:letter"] p[epub|type~="z3998:sender"]{
	text-align: right;
	text-indent: 0;
}

[epub|type~="z3998:letter"] p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}
