@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face {
	font-family: 'DS Goudy Initialen';
	src: url('../fonts/DS-Goudy.otf');
	font-weight: normal;
	font-style: normal;
}

:root{
	color-scheme: light dark;
}

section[epub|type~="chapter"] > figure:first-child{
	page-break-inside: avoid;
	page-break-after:  always;
}

h2[epub|type~="title"]{
	page-break-inside: avoid;
	page-break-after:  avoid;
}

section[epub|type~="chapter"]{
	page-break-after: always;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="chapter"] > p:first-of-type::first-letter{
	float: left;

	font-family: 'DS Goudy Initialen';
	font-size: 3.2rlh;
	line-height: 1;

	margin-right: .12rem;
	margin-bottom: -.4rem;
}

section[epub|type~="chapter"] > p:first-of-type::first-line{
	font-variant: small-caps;
}

blockquote{
	margin: 1em;
}

blockquote:not([epub|type~="z3998:speech"]){
	font-style: italic;
}

blockquote:not([epub|type~="z3998:speech"]) i,
blockquote:not([epub|type~="z3998:speech"]) em{
	font-style: normal;
}

blockquote[epub|type~="z3998:verse"],
blockquote[epub|type~="z3998:lyrics"]{
	text-align: center;
}

blockquote[epub|type~="z3998:verse"] p,
blockquote[epub|type~="z3998:lyrics"] p{
	display: inline-block;
	text-align: left;
}

blockquote.right-letter-fragment{
	text-align: right;
}

blockquote header{
	font-variant: small-caps;
	font-style: normal;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	font-style: normal;
}

[epub|type~="z3998:letter"] footer{
	page-break-before: avoid;
	page-break-inside: avoid;
}

[epub|type~="z3998:letter"] footer [epub|type~="se:letter.dateline"]{
	margin-top: 1em;
}

[epub|type~="z3998:letter"] p.signature,
[epub|type~="z3998:letter"] p[epub|type~="z3998:valediction"],
[epub|type~="z3998:letter"] p[epub|type~="z3998:sender"]{
	text-align: right;
	text-indent: 0;
}

[epub|type~="z3998:letter"] p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

img {
	max-width: 100%;
}

img[epub|type~="z3998:illustration"]{
	-webkit-filter: saturate(0) contrast(125%) brightness(110%);
	        filter: saturate(0) contrast(125%) brightness(110%); /* scss-lint:disable Indentation */
}

@media (prefers-color-scheme: dark){
	img[epub|type~="z3998:illustration"]{
		box-sizing: border-box;

		padding: 2px;
		border: 5px solid white;
		opacity: 75%;
	}
}

table.dot-leaders{
	margin: 1em;
	font-variant-numeric: tabular-nums;
}

table.dot-leaders th:not(:last-child),
table.dot-leaders td:not(:last-child) span{
	padding-right: .5em;
}

table.dot-leaders th:not(:first-child),
table.dot-leaders td:not(:first-child) span{
	padding-left: .5em;
}

table.dot-leaders tbody td:first-child{
	max-width: 75%;
}

table.dot-leaders th:last-child,
table.dot-leaders td:last-child{
	text-align: right;
	vertical-align: bottom;
}

table.dot-leaders tbody td span{
	background-color: white;
}

@media (prefers-color-scheme: dark){
	/* HACK: Use linear-gradients to bypass iBook’s background removal */
	table.dot-leaders {
		background-image: linear-gradient(black, black);
		padding: .5em 1em;
		margin: .5em 0;
		border-radius: 4px;
	}
	table.dot-leaders tbody td span{
		background-image: linear-gradient(black, black);
	}
}

table.dot-leaders tbody td {
	background-image: radial-gradient(currentColor .055em, transparent 0);
	background-size: .75em .5lh;
	background-repeat: repeat-x;
	background-position: left bottom;
}

table.dot-leaders td{
	padding: 0;
}
